<div class="row h-screen">
  <main role="main" class="col-md-10">
    <div class="question-link">
      {{#link-to "questions" }}
        Explore Questions
      {{/link-to}}
    </div>
  </main>
</div>

