<div class="question-title">
  <h2>Expert Advice</h2>
  <h6>Get Answers to difficult questions</h6>
</div>
<div>
  <input class="search-box" type="text" placeholder="Search..">
  <button class="primary-btn">Ask a Question</button>
</div>
<table class="question-table responsive">
  <tr>
    <th>Views</th>
    <th class="title">Questions</th>
  </tr>
  <tbody>
    {{#each model as |question|}}
      <tr>
        <td>{{question.title.length}}k</td>
        <td>
          {{#link-to "question" question.id }}
            {{question.title}}
          {{/link-to}}
        </td>
        <td>
          <button class="btn btn-sm btn-outline-info">Edit</button>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger" onClick={{action "deleteQuestion" question}}>
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
