<h3 style="margin-top: 80px"></h3>
<table class="question-table">
  <tr>
    <th><h6>Views</h6></th>
    <th class="title"><h6>Question</h6></th>
  </tr>
  <tbody>
      <tr>
        <td>{{model.title.length}}k</td>
        <td><h4>{{model.title}}</h4></td>
      </tr>
      <hr>
      <tr>
        <td></td>
        <td>{{model.body}}</td>
      </tr>
      <br>
      <h4>Answers:</h4>
      <tr>
        <td></td>
        <td>{{model.user}}</td>
      </tr>
  </tbody>
</table>
